<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>User_nickname</key>
		<string>罗纳尔迪尼奥</string>
		<key>User_headphoto</key>
		<string>images-1.jpeg</string>
		<key>Posts_id</key>
		<integer>1000</integer>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>两路口足球比赛,走起</string>
		<key>Posts_content</key>
		<string>我们把梅西和C罗都请起来的哟,不来是损失哈,来的人联系我哟,电话18723379826</string>
		<key>Posts_location</key>
		<string>两路口</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>梅西</string>
		<key>User_headphoto</key>
		<string>images-2.jpeg</string>
		<key>Posts_id</key>
		<real>1001</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>南坪大玩家,一起来跳舞</string>
		<key>Posts_content</key>
		<string>买币AA制,可以对挑97,三局两胜,输老的包赢家晚饭</string>
		<key>Posts_location</key>
		<string>南坪</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>C罗</string>
		<key>User_headphoto</key>
		<string>images-3.jpeg</string>
		<key>Posts_id</key>
		<real>1002</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>洪崖洞一日游</string>
		<key>Posts_content</key>
		<string>嫩个好的天气,一起去踏青吧,PS有妹子哟</string>
		<key>Posts_location</key>
		<string>解放碑</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>罗纳尔多</string>
		<key>User_headphoto</key>
		<string>images-4.jpeg</string>
		<key>Posts_id</key>
		<real>1003</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>南路温泉</string>
		<key>Posts_content</key>
		<string>享受惬意的温泉吧,3号9 点 南泉,确定来得联系我电话</string>
		<key>Posts_location</key>
		<string>南泉</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>劳尔</string>
		<key>User_headphoto</key>
		<string>images-5.jpeg</string>
		<key>Posts_id</key>
		<real>1004</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>女神组队逛街</string>
		<key>Posts_content</key>
		<string>你觉得你是女神吗,是的花一起来吧</string>
		<key>Posts_location</key>
		<string>解放碑时代广场</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>卡卡</string>
		<key>User_headphoto</key>
		<string>images-6.jpeg</string>
		<key>Posts_id</key>
		<real>1005</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>罗汉寺烧香拜佛</string>
		<key>Posts_content</key>
		<string>本女纸一枚,想烧香求签,求陪同</string>
		<key>Posts_location</key>
		<string>罗汉寺</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>鲁尼</string>
		<key>User_headphoto</key>
		<string>images-7.jpeg</string>
		<key>Posts_id</key>
		<real>1006</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>食物团购</string>
		<key>Posts_content</key>
		<string>最近观音桥大融城那边新开了一家餐厅,听说一次性消费2000元送一张500元的消费卡,一起组团吧</string>
		<key>Posts_location</key>
		<string>观音桥</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>伊瓜因</string>
		<key>User_headphoto</key>
		<string>images-8.jpeg</string>
		<key>Posts_id</key>
		<integer>1009</integer>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>配电脑</string>
		<key>Posts_content</key>
		<string>求能够帮我鉴别翻新零件的大神,帮我一起配置电脑</string>
		<key>Posts_location</key>
		<string>石桥铺</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>范佩西</string>
		<key>User_headphoto</key>
		<string>images-9.jpeg</string>
		<key>Posts_id</key>
		<integer>1008</integer>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>钓鱼</string>
		<key>Posts_content</key>
		<string>有没有中老年人想一起去钓鱼的啊,南山怎么样,本人开车,可以顺路</string>
		<key>Posts_location</key>
		<string>南山</string>
	</dict>
	<dict>
		<key>User_nickname</key>
		<string>苏亚雷斯</string>
		<key>User_headphoto</key>
		<string>images-10.jpeg</string>
		<key>Posts_id</key>
		<real>1009</real>
		<key>Posts_type</key>
		<integer>0</integer>
		<key>Posts_title</key>
		<string>一起去找好吃的</string>
		<key>Posts_content</key>
		<string>有没嘴馋的啊,我们去磁器口吧</string>
		<key>Posts_location</key>
		<string>磁器口</string>
	</dict>
</array>
</plist>
